<form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Postcode</mat-label>
      <input type="postcode" matInput [formControl]="postcodeFormControl"
            placeholder="Ex. SW57NL">
      <!-- mat-hint is being used as err stand in because mat-error couldn't seem to accept custom errors from TS (for our postcode) and 
      I wanted the error messages to look consistent -->
      <mat-hint><strong class="errStandin" id="errMessageForm"></strong></mat-hint>
    </mat-form-field>
  </form>

<button mat-stroked-button color="primary" (click)="saveForm()">Next</button>

