<div class="MC-question-container">

<label id="multiplechoice-label">What soil type do you have?</label>
<!-- The 'aria-labelledby' attribute takes precedence as the element's text alternative. -->
<mat-radio-group aria-labelledby="soil-question" class="radio-question" [(ngModel)]="chosenSoilType">
  <mat-radio-button class="radio-button" *ngFor="let soilType of soilTypes" [value]="soilType">
    {{soilType}}
  </mat-radio-button>
</mat-radio-group>

<br>

<label id="multiplechoice-label">What soil PH do you have?</label>
<!-- The 'aria-labelledby' attribute takes precedence as the element's text alternative. -->
<mat-radio-group aria-labelledby="PH-question" class="radio-question" [(ngModel)]="chosenPHType">
  <mat-radio-button class="radio-button" *ngFor="let PHType of PHTypes" [value]="PHType">
    {{PHType}}
  </mat-radio-button>
</mat-radio-group>

<br>

<label id="multiplechoice-label">How shady is your garden?</label>
<!-- The 'aria-labelledby' attribute takes precedence as the element's text alternative. -->
<mat-radio-group aria-labelledby="shade-question" class="radio-question" [(ngModel)]="chosenShadeType">
  <mat-radio-button class="radio-button" *ngFor="let shadeType of shadeTypes" [value]="shadeType">
    {{shadeType}}
  </mat-radio-button>
</mat-radio-group>

<br>

<label id="multiplechoice-label">What size is your outdoor space?</label>
<!-- The 'aria-labelledby' attribute takes precedence as the element's text alternative. -->
<mat-radio-group aria-labelledby="space-question" class="radio-question" [(ngModel)]="chosenSize">
  <mat-radio-button class="radio-button" *ngFor="let size of sizes" [value]="size">
    {{size}}
  </mat-radio-button>
</mat-radio-group>

<br>

<label id="multiplechoice-label">Please select any suggestions that you are particularly interested in.</label>
<section class="example-section">
  <mat-checkbox class="personal-choices" [(ngModel)]="childFriendly">ChildFriendly</mat-checkbox>
  <mat-checkbox class="personal-choices" [(ngModel)]="cheap">Cheap</mat-checkbox>
  <mat-checkbox class="personal-choices" [(ngModel)]="easy">Easy</mat-checkbox>
  <mat-checkbox class="personal-choices" [(ngModel)]="renting">Renting</mat-checkbox>
  <mat-checkbox class="personal-choices" [(ngModel)]="pavedGardens">PavedGardens</mat-checkbox>
</section>

<br>

<button mat-stroked-button color="primary" (click)="saveForm()">Save</button>
<p id="errMessage"></p>

<br>

<app-find-postcode></app-find-postcode>

<br>

</div>

