

<!-- iframe throws an error loading instagram content? -->



<p class='PageHeader'>Inspiration for your Garden </p>

<div class='PageBody'>
    <div>
    <p class="BodySubtitle">The Scientific One</p>
    <!-- <br> -->
    <div class="Section">
        <iframe width="400" height="456" class="instagramImage" src="https://www.instagram.com/p/CRWE57DoQnH/embed" frameborder="0"></iframe>
        <!-- FILLER TEXT FROM RHS INSTAGRAM, MUST BE CHANGED -->
        <p class="exampleGardenTextBox">Much of the planting in the Wildlife Garden which surrounds RHS Hilltop - The Home of Gardening Science at @rhswisley has been deliberately chosen to be particularly attractive to wildlife and provide a haven for insects.
        At the heart of the garden, designed by @ann_mariepowell, is a chestnut and willow sculpture by Tom Hare (@sticksnapper). This structure provides an enormous habitat, filled with pine cones, twigs and anything else that might make a cosy home to all manner of insects.
        It features tubes for red mason bees to nest in, as well as plenty of other nesting sites for solitary bees such as drilled logs and pockets of clay. The central habitat feature can be turned by staff to ensure the nesting sites get the sunniest aspect.</p>
    </div>
</div>

<br>

<div>

    <p class="BodySubtitle">The Relaxed One</p>
    <!-- <br> -->
    <div class="Section">
        <iframe width="400" height="456" class="instagramImageRight" src="https://www.instagram.com/p/CRQ5j5eofqa/embed" frameborder="0"></iframe>
        <!-- FILLER TEXT FROM RHS INSTAGRAM, MUST BE CHANGED -->
        <p class="exampleGardenTextBox">In 2019, we welcomed the BBC Springwatch Garden to #RHSHamptonCourt. This week is #BeesNeeds Week, and this garden is a fantastic example of how to rewild your green spaces and turn them into mini nature reserves that bees and other wildlife will love.
            Here are some of the take-home tips from the garden, which was designed by @jothompsongarden in consultation with @kategbradbury:
            Take a break from mowing your lawn (or a small area of it) to encourage the growth of nectar-rich plants, such as clover. These plants provide a vital food source for pollinators and make a beautiful feature too.
            Taking a more relaxed approach to weeding allows wild plants to flourish in your garden and can increase biodiversity
            Bug hotels are a fantastic way to provide shelter for a whole range of insects. You can use material kept back from pruning your trees and shrubs and arrange piles among your planting</p>
    </div>
</div>

<br>

<div>
    <p class="BodySubtitle">The 20 Year Project One</p>
    <!-- <br> -->
    <div class="Section">
        <iframe width="400" height="456" class="instagramImage" src="https://www.instagram.com/p/CVMxJX4Mc3G/embed" frameborder="0"></iframe>
        <!-- FILLER TEXT FROM RHS INSTAGRAM, MUST BE CHANGED -->
        <p class="exampleGardenTextBox">"Dappled light, cloak of green, tranquillity, intrigue, interpretation, peace, stillness" - thanks to London Wildlife Trust staff member Rosie for this vision of green, taken recently at Camley Street Natural Park</p>
    </div>
</div>
</div>

<br>
