

<!-- iframe throws an error loading instagram content? ************ -->

<p class='PageHeader'>Inspiration for your Garden </p>

<div class='PageBody'>
    
<div>
    <p class="BodySubtitle">The Scientific One</p>
    <div class="Section">
        <iframe width="400" height="456" class="instagramImage" src="https://www.instagram.com/p/CRWE57DoQnH/embed" frameborder="0"></iframe>
        <p class="exampleGardenTextBox">Much of the planting at RHS Wisley's Wildlife Garden has been deliberately chosen to be particularly attractive to wildlife. The garden is designed to demonstrate how 
            the guidance that the RHS gives on wildlife friendly gardening can be put into practice in an attractive and cleanly designed space. Even the garden's sculptures 
            house nesting sites for insects. <br><br>This garden design has been created from research carried out by the RHS about how garden spaces can 
            provide for wildife as effectively as possible. Visit the garden in summer to see how well considered wildlife spaces can be 
            beautiful places for humans to visit too! <br><br>The garden was designed by Ann Mariepowell, with chestnut and willow sculptures designed by Tom Hare. </p>
    </div>
</div>

<br>

<div>

    <p class="BodySubtitle">The Relaxed One</p>
    <div class="Section">
        <iframe width="400" height="456" class="instagramImageRight" src="https://www.instagram.com/p/CRQ5j5eofqa/embed" frameborder="0"></iframe>
        <p class="exampleGardenTextBox">At RHS Hampton Court you'll find a more laid back wildlife garden, designed by Jo Thompson. The garden is designed to 
            act as a mini nature reserve. The designers have chosen to let the grass grow long and to take a relaxed approach to weeding which has 
            resulted in a laid-back garden which is buzzing with life. In designs like these, you can see first hand the beauty of gardens that are left to grow long. <br><br>
            The gardeners have used materials left over from pruning trees and shrubs to create piles among flower beds. These pieces of wood are used by insects.</p>
    </div>
</div>

<br>

<div>
    <p class="BodySubtitle">The 10 Year Project One</p>
    <div class="Section">
        <iframe width="400" height="456" class="instagramImage" src="https://www.instagram.com/p/CVMxJX4Mc3G/embed" frameborder="0"></iframe>
        <p class="exampleGardenTextBox">This tranquil city garden at Camley Street Natural Park shows what light management and time can do, even deep in London. <br><br>By creating 
            wildlife gardens which incorporate bushes and shrubs you can create nesting sites for birds, make quiet areas for hedgehogs to hunt and even protect yourself from pollution. Bushes and shrubs are a 
            wonderful barrier to block dust and pollution from your property. <br><br>Your garden can become even better for wildlife if you grow bushes that 
            produce berries, because it allows you to provide food for local wildlife as well. </p>
    </div>
</div>
</div>

<br>
