.hiddenElem{
    display: none;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
}

div.item img {
    width: 200px;
    object-fit: none;
    height: 200px;
    //This makes the image a circle
    border-radius:50%;
}

.caption {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 19px;
}

.leftImage {
    object-fit: none;
    height: 200px;
    width: 200px;
}

.card {
    flex-direction: row;
}

.cardElements {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}

#SingleAdvice0, #SingleAdvice1, #SingleAdvice2 {
    margin: 5px;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .card{
        flex-direction: column;
    }

    .leftImage {
        object-fit: fill;
        height: auto;
        width: auto;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-left-radius: 0rem;
    }
}
