//This sets image size + centers the image within the element. Object-fit stops the image stretching
.card img {
    object-fit: none;
    // object-position: center; 
    height: 200px;
    width: 200px;
    padding-left: 20px;
}