.radio-question {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
.radio-button {
    margin: 5px;
}

.MC-question-container {
    padding-top: 10px;
    padding-left: 50px;
}