.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-text{
    color: black;
    font-size: 17px;
}

// If the screen size is 600px wide or less, make the nav test smaller
@media screen and (max-width: 960px) {
    .navigation-text{
        font-size: 15px;
    }
}

.login-text{
    color: black;
    text-decoration: underline;     
    font-size: 17px;
    padding-top: 10px;
}

// Determines the size of main image top left
.toolbar-image{
    padding-left: 10px;
    width: 600px;
    max-width: 98%;
}

// Determines the height of main navigation row
.menu-row{
    height: 100px;
}

// If the screen size is 350px wide or less, make the top bar less tall
@media screen and (max-width: 350px) {
    .menu-row {
        height: 60px;
    }
  }

// Determines the height of 'log in' row
.login-row{
    height: 26px;
}
