.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-text{
    color: black;
    font-size: 17px;
    // vertical-align: middle; 
}

.login-text{
    color: black;
    text-decoration: underline;     
    font-size: 17px;
    padding-top: 10px;
}

.toolbar-image{
    padding-left: 10px;
    // vertical-align: middle; 
    width: 600px;
    max-width: 98%;
}

.menu-row{
    height: 100px;
}

.login-row{
    height: 22px;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}