.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-text{
    color: black;
}

.toolbar-image{
    padding: 10px;
    vertical-align: middle; 
    width: 600px;
    max-width: 95%;
}

mat-toolbar{
    height: 100px;
    border-radius: 3px;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}