<div class="card">
  <img src="{{ adviceGenericObject.Pathname }}" alt="Advice_Image">
  <div class="card-body">
    <p class="Subheader">{{ adviceGenericObject.Header }}</p>
    <p class="card-text">{{ adviceGenericObject.Justification }}</p>
    <button mat-stroked-button (click)="openDialog(adviceGenericObject)" color="primary" mat-button >See info</button>
    <mat-button-toggle-group multiple>
      <mat-button-toggle (click)="toggleSave()">Save to My Goals</mat-button-toggle>
    </mat-button-toggle-group>

  </div>
</div>

<br>
