<div class="gridBlock">
    <div *ngFor="let flower of displayFlowers" class="grid-container">
    <div>
        <!-- Display the first flower from our display array -->
        <mat-card class="card">
            <mat-card-title>
                <p class="BodySubtitle"> {{ flower[0].Title }} </p>
            </mat-card-title>
            <img mat-card-image alt="Plant_Image" [src]="flower[0].Pathname" class="card-img-top">
            <mat-card-content class="plantName">
                <p> {{ flower[0].LatinName }} </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button color="primary" mat-button (click)="openDialog(flower)">See info</button>
            </mat-card-actions>
        </mat-card>
    </div>
    </div>
    </div>