<div class="aboutSection">
<p>The term 'Rewilding' was coined in the 1990s to describe a wildlife conservation approach which aims to create and preserve 
    habitats which are self-sustaining. This means that they can thrive with little to no human intervention. Since then, 
    rewilding projects have been undertaken on a massive scale, including projects at <a href="https://y2y.net/">Yellowstone National Park</a> in the United States and 
    the <a href="https://www.euronatur.org/en/what-we-do/european-green-belt">European Green Belt</a>.<br><br>

    In recent years, the popular use of the term 'Rewilding' has expanded to wildlife conservation approaches which can be done by individuals abd which are 
    possible on smaller pieces of land. Small scale projects to promote wildlife require a different approach to very large scale projects. 
    Unlike nature reserve projects where you can regenerate land to the extent that it doesn't need human management, back gardens, 
    allotments and balconies won't regenerate into a state that's self-sustaining. The way to use your land to benefit the most species is 
    to provide your local creatures with lots of resources to thrive- and you can provide more resources yourself than would appear if did nothing. 
    That is why all the advice you will see on this site is about managing your land to benefit wildlife rather than leaving it alone.<br><br>

    <b>If you're interested in learning more about large-scale rewilding projects or donating money to support them, please follow the links below:</b><br>
    <a href="https://www.rewildingbritain.org.uk/">Rewilding Britain</a> - A country-wide organisation in Britain focusing on rewilding.<br>
    <a href="https://knepp.co.uk/home#">Knepp Wildland</a> - A pioneering rewilding project in West Sussex.
</p>
</div>
<br>
<br>

<!-- To create a self-sustaining habitat, you generally need to be able to provide a lot of space for animals to roam, away from humans
who might disturb them. 
To create a self-sustaining habitat, you need 
    to be able to provide a lot of space for animals to roam, away from humans who might disturb them. Therefore, on small areas of 
    land, 
A number of ecologists use this definition of 'rewild' and  This generally means that it is difficult for individuals to 'rewild' their land (unless if you have a very large back garden)! -->
