.grid { 
    display: inline-grid;
    padding: 3px;
}

.card{
    width: 160px;
    height: 220px;
    // position: relative;
}

//This sets image size + centers the image within the element. Object-fit stops the image stretching
.card img {
    object-fit: none;
    object-position: center; 
    height: 160px;
    width: 160px;
}

.card-title{
    text-align: center;
    font-size: 10px;
}

.gridBlock{
    padding-left: 30px;
    padding-right: 30px;
}
