<div class="gridBlock">
<div *ngFor="let month of ourMonths" class="grid-container">
<div>
    <mat-card class="card">
        <mat-card-title>
            <p class="BodySubtitle"> {{ month.Title }} </p>
        </mat-card-title>
        <img mat-card-image alt="Plant_Image" [src]="month.Pathname" class="card-img-top">
        <mat-card-content class="plantName">
            <p> {{ month.LatinName }} </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button color="primary" mat-button (click)="openDialog(month)">See info</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>
</div>
