.blockForHeader{
    height: 120px;
}

// If the screen size is 350px wide or less, make the top bar less tall
@media screen and (max-width: 350px) {
    .blockForHeader {
        height: 60px;
    }
  }

  .layout-wrapper{
    bottom:0;
    height: auto;
  }

.flex-wrapper{
    border-radius: 10px;
    height: auto;
}
