<p class="PageHeader">Make My Garden Wild</p>
<div class="PageBody">
    <!-- Multiple choice is hidden if 'save' is clicked -->
    <app-wildlife-multiplechoice *ngIf="multichoiceShow"></app-wildlife-multiplechoice>

    <!-- These only appear if 'save' is clicked -->
    <app-pollinator-suggestions id="adviceGridID" class="hiddenElem"></app-pollinator-suggestions>
    <app-wildlife-advice-generic id="genericAdviceID1" class="hiddenElem" [adviceGenericObject]="adviceOne"></app-wildlife-advice-generic>
    <app-wildlife-advice-generic id="genericAdviceID2" class="hiddenElem" [adviceGenericObject]="adviceTwo"></app-wildlife-advice-generic>
    <app-wildlife-advice-generic id="genericAdviceID3" class="hiddenElem" [adviceGenericObject]="adviceThree"></app-wildlife-advice-generic>

</div>
