<a routerLink="/home"><img 
  class="title-image"
  src="/assets/Rewild_Title.png" 
  alt="Rewild My Garden" 
  >
</a>

<div  fxLayoutAlign="center center" class="home-layout-wrapper">
  <div fxFlex="60%" fxFlex.lt-md="100%" class="home-flex-wrapper">
    <div class='PageBodySpecial'>
      <p class='PageHeader'>Welcome to Rewild My Garden! </p>
      <div class="centraliseButtons">
        <div class="buttonHolder">
          <button [routerLink]="['/wildlife-advice-page']">Make My Garden Wild</button>
          <button [routerLink]="['/example-gardens-body']">Inspiration</button>
          <button [routerLink]="['/about-page']">About</button>
        </div>
      </div>
    </div>
  </div>
</div>