<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
      <p class='Subheader'>Welcome to Rewild My Garden! </p>
    </div>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab> 
        <ng-template mat-tab-label>
          Things To Grow 
        </ng-template>
        <p class="content">Lots of flowering plants!</p> 
      </mat-tab>
      <mat-tab> 
        <ng-template mat-tab-label>
          Post About Plants
        </ng-template>
        <p class="content">We want to hear your thoughts!</p>
      </mat-tab>
    </mat-tab-group>
  </section>