<p class="PageHeader">Plant Info</p>

<mat-dialog-content>
    <div>
        <img mat-card-image alt="plantImage" [src]="data.Pathname" class="img-dialog">
        <div class="Section">
            <p><b>Latin name :</b> {{data.LatinName}}</p>
            <p><b>Common name :</b> {{data.CommonName}}</p>
            <p><b>Type :</b> {{data.Habit}}</p>
            <p><b>Height :</b> {{data.Height}}m</p>
            <p><b>Native :</b> {{data.Native}}</p>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>