.img-dialog{
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 4px;
    object-fit: none;
    object-position: center; 
    height: 160px;
    width: 160px;
    float: left;
}

.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0 0 4px !important;
}