<p>We are nice! We like planting plants like:</p>
<div style="text-align:center" [innerText]="string"></div> 

<section fxLayout="column" fxFlexAlign="stretch">

    <div fxFlexAlign="center">
      <p class='Subheader'>About Rewild My Garden! </p>
    </div>
    <div fxFlexAlign="center">
        <p class="text-content">Rewild my Garden is a project to help people understand how their garden can help wildlife</p>
    </div>

    <mat-tab-group mat-align-tabs="center">

      <mat-tab> 
        <ng-template mat-tab-label>
          Who We Are 
        </ng-template>
        <p class="text-content">Rewild My Garden is designed to link people’s actions to those of their neighbours in order to promote collective decision making- the idea being that that will help make small-scale efforts more effective and sustainable. By giving people resources to know how to make effective changes on their land and establishing connections within communities to work together, the hope is that individuals will see their actions as meaningful and be empowered to make change.</p> 
        <div class="flex-container">
            <div>
              <img class="april-img" src="/assets/About-img.jpeg" alt="Web Designer Image" width=300>
            </div>
            <div>
              text text text text
            </div>
          </div>
      </mat-tab>

      <mat-tab> 
        <ng-template mat-tab-label>
          Why Rewilding?
        </ng-template>
        <p class="text-content">The aim of the project is to build a website which encourages people to manage small areas of private land for wildlife. Although there is currently a large degree of public interest in rewilding, many people lack the resources to know how to rewild an area effectively, or only have access to a very small quantity of land on which their efforts might not feel meaningful. </p>
      </mat-tab>

    </mat-tab-group>

  </section>