.text-content{
    margin-top: 20px;
    margin-left: 20px;
}

.april-img{
    padding: 10px;
    max-width: 90%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}