button{
    background-color: transparent;
    display: flex;
    border: none;
    justify-content: center;
    align-items: end;
    font-size: 17px;
    line-height: 1.1;
    color: black;
    width: 200px;
    padding: 8px;
}

button:hover{
    // font-weight: bold;
    font-weight: bold;
}

.buttonHolder{
    display: flex;
    //adds the line below
    border-bottom: black;
    border-width: 1px;
    border-bottom-style: solid;
}

.active {
    color: #295e20; /* Green */
 }