<p class='PageHeader'>About Rewild My Garden! </p>



<div class='PageBody'>
  <div class="buttonHolder">
    <button [routerLink]="['/about']" routerLinkActive="active">Who We Are</button>
    <button [routerLink]="['/about-rewilding']" routerLinkActive="active">What is Rewilding</button>
    <button [routerLink]="['/resources']" routerLinkActive="active">Further Resources</button>
    <button [routerLink]="['/privacy']" routerLinkActive="active">Privacy</button>
  </div>

  <router-outlet></router-outlet>
</div>