<div class="aboutSection">
    <br>
<p><b class="privacyTitle">Rewild My Garden Privacy Policy</b><br><br>
    This privacy policy will explain how Rewild My Garden uses the personal data we collect from you when you use our website.<br><br>
    <!-- <b>Topics:<br>
    •	What data do we collect?<br>
    •	How do we collect your data?<br>
    •	How will we use your data?<br>
    •	How do we store your data?<br>
    •	Marketing<br>
    •	What are your data protection rights?<br>
    •	Privacy policies of other websites<br>
    •	Changes to our privacy policy<br>
    •	How to contact us<br>
    •	How to contact the appropriate authorities</b><br><br> -->
<b>What data do we collect?</b><br>
    Rewild My Garden collects the following data:<br>
    •	Personal identification information (email address and the location of the land you are managing, which is submitted to us as a postcode, and which is stored based on the location’s longitude and latitude. The postcode itself is not saved)<br>
    •	Any pieces of advice from the ‘Make My Garden Wild’ page which you have chosen to have emailed to you. This includes the image, text and image copyright information associated with that piece of advice.<br><br>
<b>How do we collect your data?</b><br>
    You directly provide Rewild My Garden with the data we collect. We collect data and process data when you:<br>
    •	Complete the ‘Make My Garden Wild’ survey on the site and fill in your email address to have the advice sent to you. <br><br>
<b>How will we use your data?</b><br>
    Rewild My Garden collects your data so that we can:<br>
    •	Make recommendations to other site users about what people in their local area are doing to manage their gardens for wildlife.<br>
    •	Update you if more than two users close to you have put in a hedgehog hole.<br><br>
<b>How do we store your data?</b><br>
    Rewild My Garden securely stores your data at https://www.mongodb.com/. MongoDB provides various features, such as authentication, access control, encryption, to secure MongoDB deployments.<br>
    Rewild My Garden will keep your email, saved advice and the longitude and latitude of your land for 2 years. Once this time period has expired, we will delete your data by erasing it from our database.<br><br>
<b>Updates</b><br>
    Rewild My Garden would like to send you an update if two people close to your location have suggested that they have put in a hedgehog hole on their land.<br>
    If you have agreed to receive this update, you may always opt out at a later date. You have the right at any time to ask Rewild My Garden not to contact you for the purpose of this update. If you do not wish to be contacted, please email RewildMyGarden@gmail.com.<br><br>
<b>What are your data protection rights?</b><br>
    Rewild My Garden would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:<br>
    •	The right to access – You have the right to request Rewild My Garden for copies of your personal data. <br>
    •	The right to rectification – You have the right to request that Rewild My Garden correct any information you believe is inaccurate. You also have the right to request Rewild My Garden to complete the information you believe is incomplete.<br>
    •	The right to erasure – You have the right to request that Rewild My Garden erase your personal data, under certain conditions.<br>
    •	The right to restrict processing – You have the right to request that Rewild My Garden restrict the processing of your personal data, under certain conditions.<br>
    •	The right to object to processing – You have the right to object to Rewild My Garden’s processing of your personal data, under certain conditions.<br>
    •	The right to data portability – You have the right to request that Rewild My Garden transfer the data that we have collected to another organization, or directly to you, under certain conditions.<br>
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:<br>
    Email us at: RewildMyGarden@gmail.com<br><br>
<b>Privacy policies of other websites</b><br>
    The Rewild My Garden website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.<br><br>
<b>Changes to our privacy policy</b><br>
    Rewild My Garden keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 December 2021.<br><br>
<b>How to contact us</b><br>
    If you have any questions about Rewild My Garden’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.<br>
    Email us at: RewildMyGarden@gmail.com<br><br>
<b>How to contact the appropriate authority</b><br>
    Should you wish to report a complaint or if you feel that Rewild My Garden has not addressed your concern in a satisfactory manner, you may contact the UK Information Commissioner’s Office.<br>
    Number: 0303 123 1113<br>
    Address: icocasework@ico.org.uk<br>
    </p>
</div>
<br>
<br>
