// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming & https://material.angular.io/guide/theming#defining-a-custom-theme
// // Available color palettes: https://material.io/design/color/
// // A theme consists of configurations for individual theming systems such as "color" or "typography".

@use '~@angular/material' as mat;
@include mat.core();

@import "~@angular/material/theming";

$my-brand: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);


$my-primary: mat.define-palette(mat.$green-palette, 900);
$my-accent: mat.define-palette($my-brand, 50);
$my-background: mat.define-palette($my-brand, 50);

$my-tabs-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   background: $my-background,
   foreground: $my-background,
 )
));

//I wanted the radio accents to be green rather than white, so this is my lazy temporary
//fix for that - see @include mat.radio-theme($my-radio-theme), which uses this theme
$my-radio-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-primary,
 )
));

@include mat.tabs-theme($my-tabs-theme);
@include mat.toolbar-theme($my-tabs-theme);
@include mat.icon-theme($my-tabs-theme);
@include mat.sidenav-theme($my-tabs-theme);
@include mat.button-theme($my-tabs-theme);
@include mat.radio-theme($my-radio-theme);
@include mat.dialog-theme($my-radio-theme);
@include mat.input-theme($my-tabs-theme);
@include mat.form-field-theme($my-tabs-theme);
@include mat.button-toggle-theme($my-tabs-theme);


