@import 'custom-theme.scss';
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '~bootstrap/dist/css/bootstrap.css';

// Within this project:
// -wide screen is 960px plus (white space either side of central)
// -medium screen is 600px to 960px (no white space, but still nav bar)
// -narrow screen is 350px to 600px (side bar comes in)
// -ultra narrow screen is 350px minus (top bar in smaller)


   /* Global Styles */

  * {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    font-size: 15px;
  }
  
  router-outlet {
    padding: 0 16px;
  }

  .PageHeader{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
  }

  //!important is being used because at the head of the dialogue boxes,
  //angular materials is trying to apply its own size and font. This is the not the best fix-
  //may be worth changing if there is time **********
  .Subheader{
    font-family: 'Playfair Display', serif !important;
    font-size: 30px !important;
    line-height: 1.1;
  }

  .PageBody{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(248, 252, 249);
  }

  .CardHolder{
    padding-left: 30px;
    padding-right: 30px;
  }

  .BodySubtitle{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-style: italic;
  }

  .CopyRightText{
    font-size: 12px;
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .Subheader {
      font-size: 20px;
    }

    .PageHeader{
      font-size: 26px;
    }
  }

  /* If the screen size is 350px wide or less, reduce padding*/
  @media screen and (max-width: 600px) {
    .CardHolder{
        padding-left: 0;
        padding-right: 0;
    }
  }

  /* Hyperlink */
  
  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }

  html {
    height: 100%;
    margin: 0;
  }

  body {
    height: 100%;
    margin: 0; 
    padding: 0;
  }
