<div class="aboutSection">
<!-- <p class="aboutSubheader">Who We Are</p> -->
<p class="initText">Rewild My Garden helps you to bring the rewilding movement into your back garden, regardless of how big or small it may be. Fill out the questions on the Make My Garden Wild page to access personalised advice about how to how to make your outdoor space a welcoming home for hedgehogs, birds, pollinators, and amphibians.<br><br>
    We hope that our advice will help you to create a space which is wonderful for both you and nature.<br><br>
    Rewild My Garden would like to offer thanks to everyone who has contributed their time to help with the project, with special thanks to Plants for a Future, BS3 Wildlife Group and Nicholas Tew. <br></p> 
  <div class="flex-container">
      <div>
        <img class="april-img" src="/assets/About_Img.png" alt="Web Designer Image" width=200px>
        <p class="box-text">Rewild My Garden was created as part of a university project in Bristol. The site was designed and created by <a href="https://www.linkedin.com/in/april-bates-570b651bb/" target="_blank" rel="noopener noreferrer">April Bates</a>. The code for the website can be found <a href="https://github.com/A-Madeline-Bates/Rewild-My-Garden" target="_blank" rel="noopener noreferrer">here</a><br><br>
          If you notice an errors on the site or you would like to get in contact, please email us at RewildMyGarden@gmail.com.</p>
      </div>
  </div>
  <br>
<p>&copy; April Bates<br></p>
<p class="CopyRightText">This site makes use of :<br><br>
Plants for a Future Database<br>
Plants for a Future, Data, https://pfaf.org/user/Default.aspx, Creative Commons Attribution 4.0 License https://creativecommons.org/licenses/by-nc-sa/4.0/.<br><br>
HadUK-Grid Gridded Climate Observations on a 5km grid over the UK, v1.0.3.0.<br>
&copy; Met Office; Hollis, D.; McCarthy, M.; Kendon, M.; Legg, T.; Simpson, I. (2021): HadUK-Grid Gridded Climate Observations on a 5km grid over the UK, v1.0.3.0 (1862-2020). NERC EDS Centre for Environmental Data Analysis, 08 September 2021. doi:10.5285/f2da35c56afb4fa6aebf44094b65dff3. http://dx.doi.org/10.5285/f2da35c56afb4fa6aebf44094b65dff3<br><br>
Ordnance Survey Names API<br>
&copy; Ordnance Survey, OS Names API, https://osdatahub.os.uk/docs/names/overview, https://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/</p>
</div>
<br>
<br>

