<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
      <p>Welcome to Rewild My Garden</p>
    </div>
    <p class="subheader" fxFlexAlign="center">Find out about:</p>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Things to Grow"> 
        <p class="content">Lots of flowering plants!</p> 
      </mat-tab>
      <mat-tab label="Animals in Your Neighbourhood">
         <p class="content">There are lots of cute animals.</p>
        </mat-tab>
      <mat-tab label="Community Projects">
         <p class="content">You can help out other people too!</p>
      </mat-tab>
    </mat-tab-group>
  </section>