<div class="dialog-title">
    <h1 mat-dialog-title class="Subheader"> {{ adviceGenericObject.Header }}</h1>
    <button mat-icon-button class="close-button" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <img class="dialogImage" src="{{ adviceGenericObject.Pathname }}" alt="Advice_Image">
    <div class="card-body">
      <p class="card-text">{{ adviceGenericObject.BodyText }}</p>
    <div>
        <p class="CopyRightText">&copy; Image <a href="{{adviceGenericObject.Link}}">"{{adviceGenericObject.Name}}"</a> by {{adviceGenericObject.Username}}, distributed under {{adviceGenericObject.Copyright}} license.</p>
    </div>
    </div>
</mat-dialog-content>